<div class="card">
<div class="page-header" style="text-align: center;">
	<h1>Login</h1>
</div>

<div class="row show-hide-message" ng-show="main.errorMsg">
	<div class="alert alert-danger" style="color: red;margin-left: 25%;">
		{{main.errorMsg}}
	</div>
</div>

<div class="row show-hide-message" ng-show="main.warningMsg">
	<div class="alert alert-info" style="color: red;margin-left: 25%;">
		{{main.warningMsg}}&nbsp
		<br>
		<a href="/resend">
			<button class="btn btn-danger" type="button">Resend</button>
		</a>
	</div>
</div>

<form ng-submit="main.doLogin(loginData);" name="form">
	<div class= "input-field" style="width: 80%;padding-left: 25%;">
		<label for="username" style="width: 80%;padding-left: 31%;">Username:</label>
		<input ng-disabled="main.disabled" type="text" name="username" class="form-control" ng-model="main.loginData.username" required>
		<p class="error" ng-show="(!form.username.$pristine && form.username.$error.required) || (form.$submitted && form.username.$error.required)">*This field is required</p>
	</div>
	<br>
	<div class= "input-field" style="width: 80%;padding-left: 25%;">
		<label for="password" style="width: 80%;padding-left: 31%;">Password:</label>
		<input ng-disabled="main.disabled" type="password" name="password" class="form-control"  ng-model="main.loginData.password" required>
		<p class="error" ng-show="(!form.password.$pristine && form.password.$error.required) || (form.$submitted && form.password.$error.required)">*This field is required</p>
	</div>

	<button ng-disabled="main.disabled" class="waves-effect waves-light btn" ng-bind="textOnLogInButton" style="margin-left: 25%;margin-bottom: 5%;"></button>

</form>
</div>
