<div style="background-color: #383735;width: 18%;height: 87.5vh;">
	<div ng-show="uploading" class="progress" style="width:100%;">
	    <div class="indeterminate"></div>
	</div>
	<img src="/api/profiles/{{pic}}" class="pro responsive-img" style="width: 100%;height: 35%;">
	<div ng-show="uploading" class="progress" style="width:100%;margin-top: -10px;">
	      <div class="indeterminate"></div>
	 </div>
	 <br>
	<button ng-show="username==name" class="btn mod" style="margin-left: 25%;margin-top: -40%;background-color: black;opacity: 0.5">Edit</button>
  
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 style="font-weight: bold;">Change Profile Picture</h4>
      	<div style="margin-top: 5%;">
			<div ng-show="uploading" class="progress" style="width:100px;">
			    <div class="indeterminate"></div>
			</div>
			<img ng-src="http://localhost:8080/api/profiles/{{pic}}" class="responsive-img" style="width: 100px;height: 100px;margin-top: -15px;">
			<i ng-show="arrow" class="large material-icons">arrow_forward</i>
			<img ng-show="arrow" ng-src="{{thumbnail.dataUrl}}" class="responsive-img" style="width: 100px;height: 100px;margin-top: -15px;">
			<div ng-show="uploading" class="progress" style="width:100px;margin-top: -10px;">
			      <div class="indeterminate"></div>
			</div>
		</div>
        <form ng-submit="Submit();">
		    <div class="file-field input-field">
		      <div class="btn">
		        <span>File</span>
		        <input type="file" file-model="file.upload" name="myfile" onchange="angular.element(this).scope().profileChanged(this.files)">
		      </div>
		      <div class="file-path-wrapper">
		        <input class="file-path validate" type="text">
		      </div>
		    </div>
		    <button class="btn" ng-disabled="!selected">Upload</button>
		</form><br>
		<hr>
        <h4 style="font-weight: bold;">Write something about you</h4>
        <form ng-controller="mainCtrl" ng-submit="updateBio();">
		    <input ng-disabled="main.disabled" type="text" name="bio" class="form-control"  ng-model="bio" style="font-family: 'sans serif';font-size: 150%;">
		    <button class="waves-effect waves-light btn" style="margin-bottom: 5%;">Update</button>
		</form>
    </div>
  </div>

  <div>
  	<p style="font-weight: bold;margin-top: -5%; color: white;text-align: center;">{{name}}</p>
  	<p ng-controller="mainCtrl" style="color: white;">{{bio|limitTo:100}}{{bio.length>100 ? "..." : ""}}</p>
  </div>
 </div>



