<div class="page-header">
	<h1>{{main.username}}'s Profile</h1>
</div>

<div class="panel-info">
	<div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>	
<table class="table">
	<tr>
		<td><strong>Usrename</strong></td>
		<td>{{ main.username }}</td>
	</tr>
	<tr>
		<td><strong>Email</strong></td>
		<td>{{ main.useremail }}</td>
	</tr>
</table>
<form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" file-model="file.upload" name="myfile">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button class="btn">Upload</button>
</form>
<br>
<img ng-src="{{thumbnail.dataUrl || 'http://cdn1-www.craveonline.com/assets/uploads/2014/08/Facebook-Profile-Pic.png'}}">
<div ng-show="message">
	<div ng-class="alert">{{message}}</div>
</div>

</div>
